desenvolvimento-aplicacoes-web-java/oo-basico/java/oobasico/build
desenvolvimento-aplicacoes-web-java/oo-basico/java/oobasico/nbproject
desenvolvimento-aplicacoes-web-java/oo-basico/java/oobasico/build.xml
desenvolvimento-aplicacoes-web-java/oo-basico/java/oobasico/manifest.mf
/desenvolvimento-aplicacoes-web-java/jsp-crud/nbproject/private/
/desenvolvimento-aplicacoes-web-java/jsp-crud/build/
/desenvolvimento-aplicacoes-web-java/caso-uso-blog2/blog-java/nbproject/private/